  spring:
  application:
    name: inventory-service
  
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
  
  datasource:
    url: jdbc:h2:mem:inventorydb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8082

logging:
  level:
    com.ecommerce.inventory: DEBUG