spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:h2:mem:inventorydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    function:
      definition: reserveInventoryCommand;releaseInventoryCommand;inventoryReservedEvent;inventoryRejectedEvent
    stream:
      bindings:
        # INPUTS - Comandos que recibimos
        reserveInventoryCommand-in-0:
          destination: reserve-inventory-command
          group: inventory-service

        releaseInventoryCommand-in-0:
          destination: release-inventory-command
          group: inventory-service

        # OUTPUTS - Eventos que enviamos
        inventoryReservedEvent-out-0:
          destination: inventory-reserved-event

        inventoryRejectedEvent-out-0:
          destination: inventory-rejected-event

server:
  port: 8082

logging:
  level:
    com.mateo.inventoryservice: DEBUG
    org.springframework.cloud.stream: DEBUG